@charset "UTF-8";
html.fp-enabled,
.fp-enabled body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*Avoid flicker on slides transitions for mobile phones #336 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.fp-section {
  position: relative;
  -webkit-box-sizing: border-box;
  /* Safari<=5 Android<=3 */
  -moz-box-sizing: border-box;
  /* <=28 */
  box-sizing: border-box;
}

.fp-slide {
  float: left;
}

.fp-slide, .fp-slidesContainer {
  height: 100%;
  display: block;
}

.fp-slides {
  z-index: 1;
  height: 100%;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  /* Safari<=6 Android<=4.3 */
  transition: all 0.3s ease-out;
}

.fp-section.fp-table, .fp-slide.fp-table {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.fp-tableCell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

.fp-slidesContainer {
  float: left;
  position: relative;
}

.fp-controlArrow {
  -webkit-user-select: none;
  /* webkit (safari, chrome) browsers */
  -moz-user-select: none;
  /* mozilla browsers */
  -khtml-user-select: none;
  /* webkit (konqueror) browsers */
  -ms-user-select: none;
  /* IE10+ */
  position: absolute;
  z-index: 10;
  bottom: 10px;
  cursor: pointer;
  margin-top: -38px;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.fp-controlArrow.fp-prev {
  left: 15px;
}

.fp-controlArrow.fp-next {
  right: 15px;
}

.fp-scrollable {
  overflow: hidden;
  position: relative;
}

.fp-scroller {
  overflow: hidden;
}

.iScrollIndicator {
  border: 0 !important;
}

.fp-notransition {
  -webkit-transition: none !important;
  transition: none !important;
}

#fp-nav {
  position: fixed;
  z-index: 100;
  margin-top: -32px;
  top: 80%;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
}

#fp-nav.fp-right {
  right: 17px;
}

#fp-nav.fp-left {
  left: 17px;
}

.fp-slidesNav {
  position: absolute;
  z-index: 4;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  left: 0 !important;
  right: 0;
  margin: 0 auto !important;
}

.fp-slidesNav.fp-bottom ul {
  display: inline-flex;
}

.fp-slidesNav.fp-bottom {
  padding: 15px 0;
  bottom: 0;
  text-align: center;
}

.fp-slidesNav.fp-top {
  top: 17px;
}

#fp-nav ul,
.fp-slidesNav ul {
  margin: 0;
  padding: 0;
}

#fp-nav ul li,
.fp-slidesNav ul li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 7px;
  position: relative;
}

.fp-slidesNav ul li {
  display: inline-block;
}

#fp-nav ul li a,
.fp-slidesNav ul li a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
  height: 12px;
  width: 12px;
  margin: -6px 0 0 -6px;
  border-radius: 100%;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  height: 4px;
  width: 4px;
  border: 0;
  background: #333;
  left: 50%;
  top: 50%;
  margin: -2px 0 0 -2px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span {
  width: 10px;
  height: 10px;
  margin: -5px 0px 0px -5px;
}

.fp-auto-height.fp-section,
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell {
  height: auto !important;
}

.fp-responsive .fp-auto-height-responsive.fp-section,
.fp-responsive .fp-auto-height-responsive .fp-slide,
.fp-responsive .fp-auto-height-responsive .fp-tableCell {
  height: auto !important;
}

/*Only display content to screen readers*/
.fp-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.sm-down, .sm {
  display: none;
}

@media (max-width: 575px) {
  .sm-down {
    display: block !important;
  }
}
@media (min-width: 576px) {
  .sm {
    display: block !important;
  }
}
.fp-controlArrow {
  width: 40px;
  height: 40px;
  background-size: contain !important;
}

.fp-controlArrow.fp-prev {
  background: url(../img/left.svg);
}

.fp-controlArrow.fp-next {
  background: url(../img/right.svg);
}

@media (min-width: 1200px) {
  .fp-slidesNav.fp-bottom ul {
    background: #FFFEF5;
    border-radius: 25px;
    box-shadow: 0px -1px 15px rgba(46, 41, 0, 0.42);
  }
}
@media (max-width: 1199px) {
  .fp-slidesNav.fp-bottom {
    background: #FFFEF5;
    box-shadow: 0px -1px 15px rgba(46, 41, 0, 0.42);
  }
}
body {
  font-family: "Droid Serif", Georgia, Times, "Times New Roman", serif;
  font-feature-settings: "lnum";
}

h1, h2, h3, h4, h5, .button, figcaption {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

h2 {
  position: relative;
  text-transform: uppercase;
  white-space: nowrap;
  text-align: center;
  display: inline-flex;
  font-size: 18px;
  background: #E37A39;
  opacity: 1;
  color: white;
  padding: 5px 30px;
  margin: auto;
  font-weight: 500;
}

.button img {
  filter: invert(1);
  margin-right: -5px;
  margin-left: 10px;
}

.h2wrapper {
  display: flex;
  margin-bottom: 40px;
  margin-top: 92px;
}
@media (min-width: 768px) {
  .h2wrapper {
    margin-top: 102px;
  }
  .h2wrapper h2 {
    font-size: 22px;
  }
}

.section--trailer {
  display: none;
}

.trailer {
  display: flex;
  flex-direction: column;
  height: calc(100% - 40px);
  padding: 20px;
  background: #242425;
}

.video_wrapper {
  max-width: 900px;
  width: 100%;
  margin: auto;
}

.video-container {
  width: 100%;
  padding-top: 56.25%;
  height: 0;
  position: relative;
  margin: auto;
  cursor: pointer;
  background: #000;
}

.video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.slide--episode-1 .placeholder {
  background-image: url("../img/thumbnails/1.jpg");
}

.slide--episode-2 .placeholder {
  background-image: url("../img/thumbnails/2.jpg");
}

.slide--episode-3 .placeholder {
  background-image: url("../img/thumbnails/3.jpg");
}

.section--trailer .placeholder {
  background-image: url("../img/thumbnails/4.jpg");
}

.placeholder:after {
  display: flex;
  content: "";
  margin: auto;
  height: 100%;
  background-image: url(../img/yt_icon_mono_dark.svg);
  text-align: center;
  align-items: center;
  justify-content: center;
  background-size: 20vmin;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-size 0.2s ease;
}

.placeholder:hover::after {
  background-size: calc(20vmin + 20px);
}

.placeholder {
  background: #242425;
  background-size: cover;
  cursor: pointer;
}

.slide {
  padding-bottom: 80px;
}

small {
  color: #E37A39;
}

.slide--episode-2 .video_bg {
  background-color: #242425;
  background-image: url("../bg/1 copy.jpg");
}
@media (min-width: 1200px) {
  .slide--episode-2 .video_bg {
    background-image: url("../bg/Sequenz-01.gif");
  }
}

.slide--episode-3 .video_bg {
  background-color: #E37A39;
  background-image: url("../bg/2 copy.jpg");
}
@media (min-width: 1200px) {
  .slide--episode-3 .video_bg {
    background-image: url("../bg/Sequenz-02.gif");
  }
}

.slide--episode-1 .video_bg {
  background-color: #E37A39;
  background-image: url("../bg/3 copy.jpg");
}
@media (min-width: 1200px) {
  .slide--episode-1 .video_bg {
    background-image: url("../bg/Sequenz-03.gif");
  }
}

.section--splash .arrow {
  position: absolute;
  bottom: 15px;
  filter: invert(1);
}

.section--trailer .arrow {
  filter: invert(0.9);
}
.section--trailer .arrow:hover {
  filter: invert(1);
}

.section--trailer .h2wrapper {
  margin-top: 0 !important;
  margin-bottom: 20px;
}

.arrow {
  padding: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: transform 0.2s ease;
  display: flex;
  margin: auto;
}
.arrow img {
  transform: rotate(90deg);
}
.arrow:hover {
  transform: scale(1.1);
}
.arrow.down {
  animation: scrollDown 3s infinite cubic-bezier(0.86, 0, 0.75, 1);
}
.arrow.down .btnwrapper {
  animation: scaling 3s infinite cubic-bezier(0, 0.7, 0.97, 1);
}
.arrow .btnwrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

article > .arrow {
  margin-top: -75px;
  margin-bottom: 75px;
}

.video_bg {
  background-size: cover;
  background-blend-mode: screen;
  display: flex;
  max-height: 480px;
  height: calc(60vw - 40px);
  padding: 20px;
}
.video_bg video {
  height: inherit;
  width: 100%;
  width: -moz-available;
  /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;
  /* Mozilla-based browsers will ignore this. */
  width: fill-available;
  margin: auto;
}

.episode_content, .episode_people {
  max-width: 930px;
  margin: auto;
}

.episode_content {
  padding: 0 20px;
}
@media (min-width: 576px) {
  .episode_content {
    padding: 0 2%;
  }
}

.section--episodes article {
  background: #FFFEF5;
}

.episode_text {
  font-style: normal;
  font-weight: normal;
  font-size: 16.5px;
  line-height: 1.66;
  text-align: justify;
  column-gap: 60px;
  -webkit-column-rule: 1px solid #E37A39;
  -moz-column-rule: 1px solid #E37A39;
  column-rule: 1px solid #E37A39;
}
@media (min-width: 768px) {
  .episode_text {
    columns: 2;
  }
}
.episode_text p {
  margin-bottom: 60px;
  margin-top: 0;
  -webkit-hyphens: auto;
  hyphens: auto;
  break-inside: avoid;
}
.episode_text p:last-child {
  margin-bottom: 0;
}
.episode_text .smallp:not(.last) {
  margin-bottom: 10px;
}
.episode_text .smallp + .smallp {
  margin-top: 10px;
}
.episode_text h3 {
  text-align: left;
  text-transform: uppercase;
  font-weight: 500;
  column-span: all;
  color: #E37A39;
  font-size: 24px;
  display: inline-block;
  line-height: 1.3;
  margin: 0 0 20px;
}
@media (min-width: 576px) {
  .episode_text h3 {
    font-size: 38px;
  }
}
.episode_text audio {
  width: 100%;
  margin-top: 30px;
  filter: invert(0.9);
}
.episode_text blockquote {
  margin: 0 0 50px;
  font-family: Droid Serif, Times, "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 22px;
  line-height: 157.5%;
  color: #E37A39;
}
.episode_text blockquote cite {
  font-size: 18px;
}
.episode_text blockquote p {
  margin-bottom: 0;
}
.episode_text blockquote q::before {
  content: "«";
}
.episode_text blockquote q::after {
  content: "»";
}
@media (max-width: 767px) {
  .episode_text img {
    margin: 0 -20px;
    width: calc(100% + 40px);
    height: auto;
    float: none;
  }
}
.episode_text figure {
  max-width: 100%;
  margin: 0 0 1em;
}
@media (min-width: 1200px) {
  .episode_text figure {
    display: flow-root;
    position: relative;
  }
}
.episode_text figcaption {
  clear: both;
  color: #E37A39;
  font-size: 12px;
  padding-top: 16px;
}
@media (min-width: 1200px) {
  .episode_text figcaption {
    font-size: 10px;
    line-height: 157.5%;
    text-align: right;
    position: absolute;
    right: calc(100% + 20px);
    top: calc(100% + 4px);
    width: calc((((100vw - 1020px) / 2) - 40px));
    max-width: 200px;
  }
}
.episode_text blockquote + audio {
  margin-top: 0;
}

.episode_people_wrapper {
  margin-top: 40px;
  padding: 1px;
  background: #97CCA4;
  color: #fff;
}

.episode_people h3 {
  text-align: center;
  font-family: "Droid Serif", Georgia, Times, "Times New Roman", serif;
  font-size: 32px;
  margin-bottom: 0px;
  margin-top: 40px;
}
@media (min-width: 768px) {
  .episode_people h3 {
    margin-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .episode_people h3 {
    margin-bottom: 60px;
    margin-top: 60px;
  }
}

.peoples {
  display: flex;
  padding-bottom: 80px;
  justify-content: center;
  max-width: 100vw;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .peoples {
    margin: 20px -40px 100px;
  }
}
.peoples .people {
  flex: 1 0 250px;
  padding: 0 40px;
  max-width: 350px;
}
@media (max-width: 767px) {
  .peoples .people {
    padding-top: 40px;
  }
}
@media (min-width: 1200px) {
  .peoples .people + .people {
    border-left: 2px solid white;
  }
}
.peoples .people img {
  width: 100%;
}
.peoples .people p {
  text-align: left;
  line-height: 1.66;
  font-size: 22px;
  word-break: break-word;
}
.peoples .people h4 {
  margin: 15px 0 34px;
  font-size: 32px;
  font-family: "Droid Serif", Georgia, Times, "Times New Roman", serif;
  font-weight: 800;
  padding-bottom: 27px;
  border-bottom: 2px solid white;
}

.section--about {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #FFFEF5;
}
.section--about h3 {
  margin: 5px 0;
  font-size: 32px;
  font-weight: 800;
}
.section--about h5 {
  margin: 0;
}
.section--about article {
  padding: 5px 20px;
  background: #97CCA4;
  color: #FFFEF5;
  font-size: 18px;
  line-height: 1.66;
}
.section--about img:not(.zhdk-logo) {
  width: 100%;
}
@media (min-width: 1200px) {
  .section--about img:not(.zhdk-logo) {
    margin-bottom: 10px;
  }
}

.section--about .grow {
  flex-grow: 1;
  max-width: 930px;
  width: 100%;
  margin: auto;
}
@media (min-width: 1200px) {
  .section--about .grow {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
.section--about .grow a {
  color: #ffffff;
}

.footer {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 1199px) {
  .footer {
    padding: 0 20px;
  }
}
.footer p {
  max-width: 300px;
  font-size: 12px;
}
.footer a {
  text-decoration: none;
  color: inherit;
}

.zhdk-logo {
  margin: 10px;
  margin-left: auto;
}

@keyframes scaling {
  30% {
    transform: scale(0.9);
  }
}
@keyframes scrollDown {
  30% {
    transform: translateY(16px);
  }
}
@keyframes scrollUp {
  30% {
    transform: translateY(-16px);
  }
}

/*# sourceMappingURL=style.2.css.map */
